
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
        }

        .calculator {
            max-width: 400px;
            padding: 20px;
            
            border-radius: 10px;
            box-shadow: 3px 4px grey;
            background-color: #e8caca;
            
            text-align: center;
        }

        h2 {
            color: #c35cdd;
        }

        img {
            max-width: 100%;
            border-radius: 5px;
            margin-bottom: 20px;
            height: 100px;
            width: 300px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input {
            width: calc(100% - 16px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #1068db;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            background-color: #45a049;
        }

        #result {
            margin-top: 15px;
            font-weight: bold;
            color: #333;
        }
   